/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */

h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #000000;
}

p {
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}


/* ========================================
   CLASSE
   ======================================== */

.cargo {
    color: #000000;
    font-weight: bold;
}

.link-social {
    color: #000000;
    text-decoration: none;
}


/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    background-color: oi
}

#sobre {
    background-color: oi 
}

#habilidades {
    background-color:
        color #000000;
}

#projetos {
    background-color:
        colorf #000000;
}

#contato {
    background-color: oi 
}


/* ========================================
   RODAPÉ
   ======================================== */

footer {
    background-color: #000000;
    width: 100%;
    text-align: center;
}

footer p {
    color: rgb(0, 0, 0);
}

img {
    border: 9px solid rgb(245, 239, 231);
    border-radius: 50%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 10%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 90%);
}